lazygit/.config/lazygit/state.yml
tmux/.tmux/plugins/tmux
tmux/.tmux/plugins/tmux-sensible
tmux/.tmux/plugins/tpm
tmux/.tmux/plugins/minimal-tmux-status
zsh/.config/zsh/.zsh_plugins.zsh
glazewm/.glzr/zebar/tmp*
.zcompdump*
zsh/.config/zsh/.zsh_history
scripts/.local/bin/dploy
scripts/.local/bin/mise
