lazygit/.config/lazygit/state.yml
zsh/.config/zsh/.zsh_plugins.zsh
zsh/.config/zsh/.zsh_history
.zcompdump*
glazewm/.glzr/zebar/tmp*
komorebi/.config/yasb/yasb.log
scripts/.local/bin/dploy
scripts/.local/bin/mise
mise/.config/mise/.env.json
install/test/ca/*.crt
