; Ensure:
;   export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
;   systemctl --user enable ssh-agent
;   systemctl --user start ssh-agent
;
; In ~/.ssh/config
;   AddKeysToAgent  yes
[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
